{% include'admin_header.html' %}

<section id="hero">
    <div class="hero-container">

							  <form method="post">
</style>
		<center>
			<h2>Forgot password</h2>
			<table class="table" style="width: 500px;color: white">
				<tr>
					<th >Current password</th>
					<td> <input type="password" name="cpwd" class="form-control" required></td>
				</tr>
				<tr>
					<th >Enter New password</th>
					<td> <input type="password" name="npwd" class="form-control" required></td>
				</tr>
				<tr>
					<th >confirm Password</th>
					<td><input type="password" name="pwd" class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="submit" value="submit" class="btn btn-success">
					<!-- <input type="submit" name="reset" value="" class="btn btn-success"> --></td>
				</tr>
			</table>
		</center>
	</form>
               
	 </div>
  </section><!-- End Hero -->

  <main id="main">					
							   

	
{% include'footer.html' %}