<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<script> 
		function printDiv() { 
			var divContents = document.getElementById("div_print").innerHTML; 
			var a = window.open('', '', 'height=500, width=500'); 
			a.document.write(divContents); 
			a.document.close(); 
			a.print(); 
		} 
	</script> 
<body onload="printDiv()">
	<div id="div_print" >
<center>
	
<h1 style="padding-top: 30px;font-size: 60px">Game Center Booking</h1>

<p style="padding-top: 30px;font-size: 60px;font-style: italic;font-family: monospace;font-size: 20px;margin-left: 250px;margin-bottom: 20px" align="left">Email : gamecenter@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date :{{data['today']}}</p>
<p style="padding-top: 30px;font-size: 60px;font-style: italic;font-family: monospace;font-size: 20px;margin-left: 250px;margin-bottom: 20px" align="left">Phone : 8907689709&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time :{{data['current_time']}}</p>
<h1>Customer Report</h1>
<table class="table" style="width: 1000px;color: black;font-style: italic;font-family: monospace;font-size: 22px" border="5">
	
		<tr>
					<th>Sl.no</th>
					<th>Customer</th>
					<th>Place</th>
					<th>Phone</th>
					<th>Email</th>
				</tr>
				{% for row in data['customer'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['first_name']}} {{row['last_name']}}</td>
					<th>{{row['place']}}</th>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
					
				</tr>
				{% endfor %}
			</table>
</center>
</body>
</html>

