{% include'staff_header.html' %}

   
 <!-- ======= Hero Section ======= -->
  <section id="hero" style="max-height: 550px;min-height: 500px">
    <div class="hero-container">
     <!--  <h3></h3> -->
      
     
    </div>
  </section><!-- End Hero -->


		<center>
			<br><br>
			<a class="btn btn-success" href="admin_print_bookings">Print</a><br><br>

<form method="post">
			<table class="table" style="width: 800px;font-size:16px">

			<tr>
			
			<td align="center" colspan="2"><input type="date" placeholder="Search Here..." required class="form-control" name="se"></td>
			<td><input class="btn btn-primary" type="submit" name="ser" value="Search"></td>
			</tr>
		</table>
</form>
			<h2>Bookings</h2>
			<table class="table" style="width: 1200px;">
				<tr>
					<th>Sl.no</th>
					<th>Booking ID</th>
					<th>Customer</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Venue</th>
					<th>Time</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Booking Date</th>
				</tr>
				{% for row in data['book'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>BK_{{row['booking_id']}}</td>
					<td>{{row['first_name']}} {{row['last_name']}}</td>
					<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>
					<td>{{row['venue']}}</td>
					<td>{{row['time']}}</td>
					<td>{{row['tdate']}}</td>
					<td>{{row['amount']}}</td>
					<td>{{row['bdate']}}</td>
				</tr>
				{% endfor %}
			</table>

		</center>
	</form>
		
{% include'footer.html' %}